.nome-cidade {
    font-size: .5rem;
    z-index: 1;
}

.preco-cidade {
    font-size: .5rem;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: .15rem .25rem;
    border-radius: .5rem;
    border: 1px solid white;
}

.predios {
    display: flex;
    border: 1px solid black;
    transform: scale(1.1);
}

.cima .predios, .baixo .predios {
    flex-direction: row;
    background-color: rgb(101, 64, 64);
    width: calc(var(--box-size) * 2);
    height: calc(var(--box-size) * 1);
}

.esquerda .predios, .direita .predios {
    flex-direction: column;
    background-color: rgb(101, 64, 64);
    width: calc(var(--box-size) * 1);
    height: calc(var(--box-size) * 2);
}

.marrom .predios {
    background-color: rgb(90, 58, 40);
}

.azul-celeste .predios {
    background-color: rgb(106, 223, 209);
}

.rosa .predios {
    background-color: rgb(255, 0, 255);
}

.laranja .predios {
    background-color: rgb(255, 165, 0);
}

.vermelho .predios {
    background-color: rgb(255, 0, 0);
}

.amarelo .predios {
    background-color: rgb(255, 255, 0);
}

.verde .predios {
    background-color: rgb(2, 143, 2);
}

.azul .predios {
    background-color: rgb(0, 0, 255);
}

.casa, .hotel {
    width: var(--diametro-jogador);
    height: var(--diametro-jogador);
    z-index: 100;
    margin: .15em;
    border: 1px solid black;
    box-shadow: 0 0 0.5em 0.05em rgb(0, 0, 0, .5);
}