.nome-cofre {
    font-size: .5rem;
    z-index: 1;
    margin-bottom: 4em;
}

.preco-cofre {
    font-size: .5rem;
    font-weight: bold;
}

.esquerda .cofre, .direita .cofre {
    display: flex;
    flex-direction: column;
}

.baixo .cofre {
    display: flex;
    flex-direction: row;
}

.cofre .informacoes {
    background-image: url(../img/cofre.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}