@media only screen and (max-width: 768px) {
    body {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: fit-content;
    }

    main {
        flex-direction: column-reverse;
    }

    #cartoes-jogadores {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: calc(var(--box-size) * 20);
        height: initial;
    }
}

@media only screen and (min-width: 769px) {
    .tabuleiro {
        grid-template-columns: initial;
    }
}