.nome-sorte {
    font-size: .5rem;
    z-index: 1;
    margin-bottom: 5em;
}

.preco-sorte {
    font-size: .5rem;
    font-weight: bold;
}

.sorte .informacoes {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cima .sorte .informacoes{
    background-image: url(../img/sorteCima.png);
}

.direita .sorte .informacoes{
    background-image: url(../img/sorteDireita.png);
}

.baixo .sorte .informacoes{
    background-image: url(../img/sorteBaixo.png);
}

