:root {
    font-size: 1rem;
    --box-size: 1.55em;
    --diametro-jogador: .625em;
    --gap-entre-jogadores: .06em;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}

p{
    font-size: 16px;
    margin: 5px 0;
    font-weight: 500;
}

button{
    border-radius: 5px;
    border: 1px solid rgb(202, 170, 168);
    cursor: pointer;
}

button:hover{
    background: rgb(202, 170, 168);
    border: 1px solid rgb(105, 58, 58);
}

button:focus{
    border:1px solid rgb(105, 58, 58);
}

