.nome-transporte {
    font-size: .5rem;
    z-index: 1;
}

.preco-transporte {
    font-size: .5rem;
    font-weight: bold;
}

.esquerda .transporte, .direita .transporte {
    display: flex;
    flex-direction: column;
}

.baixo .transporte, .cima .transporte {
    display: flex;
    flex-direction: row;
}